*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(34, 25, 25);
}

.whole{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Highscores{
    border: 2px solid white;
    width: 400px;
    height: 400px;
    color: white;
    margin: 150px;
}

#heading{
    text-align: center;
    padding: 20px;
}

#main_box{
    background-image: url(/assets/yellow_back.avif);
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 40px auto;
}
#btn{
    height: 40px;
    width: 80px;
    font-size: larger;
    display: block;
    margin: 1rem auto;
    border-radius: .4rem;
    background-color: rgb(220, 211, 211);
}
#btn:active{
    background-color: rgb(83, 155, 83);
}

.slider{
    visibility: hidden;
    width: 100px;
    height: 20px;
    /* background-color: blue; */
    background: url(/assets/O5GLLQ0.jpg) ;
    position: relative;
}

#slider1{
    visibility: visible;
}


.animate{
    animation: slide 4s infinite linear;
}

@keyframes slide {
    0%{left: 0px;}
    50%{left: 400px;}
    100%{left:0px}
}